.cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.card {
    box-shadow: 16px 12px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    flex-basis: 100px;
    flex-grow: 0.5;
}

.card img {
	width: 110px;
    border-radius: 10px;
}

.card h3 {
    font-size: 10px;
    flex-grow:1;
    padding-left: 20px;
}
